* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    // display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

.alert {
    color: #d30000;
}
.alert-container {
    font-size: 0.9rem;
    margin: 3px 10px;
}

.pageContent {
    margin: 85px auto 0 auto;
}

.header {
    text-align: center;
    font-size:2rem;
    padding:$mainSpacing;
    text-transform: uppercase;
    margin: $secondarySpacing;
}
.loading {
    text-align: center;
    margin-top: 80px;

}