* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

.alert {
    color: red;
}