* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $Roboto;
    // display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

.alert {
    color: #d30000;
}
.alert2 {
    color: #ff0000;
}
.alert-container {
    font-size: 0.9rem;
    text-align: center;
    max-width:  80%;
    margin: 0 auto;
}

.pageContent {
    margin: 75px auto 0 auto;
}

.header {
    text-align: center;
    font-size:2rem;
    padding:$mainSpacing;
    text-transform: uppercase;
    margin: $secondarySpacing;
}
.loading {
    text-align: center;
    margin-top: 80px;

}

.noMatch {
    text-align: center;
    margin: 50px;
    color: $darkerGrey;
}
.meme {
    color: $mainWhite;
    text-decoration: none;
    transition: 1s;


    &:hover {
        background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 4s ease-in-out infinite;
        background-size: 400% 100%;
    }
    
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}