$primaryBgColor: #f7f7f7;
$primaryColor: #0071c2;
$SecondaryColor: #005491;

$mainBlack: #222;
$mainWhite: #f7f7f7;
$darkGrey: #cfcfcf;
$darkerGrey: #696969;
$primaryRed: #E50000;
$altLightColors: #fdf3e6;

$mainBorderRadius: 5px;
$mainTransition: all 0.3s linear;
$secondaryTransition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
$mainSpacing: 3px;
$secondarySpacing: 5px;

$Roboto:'Roboto', sans-serif;
