$primaryBgColor: #f7f7f7;
$primaryColor: #ffa600;
$mainBlack: #222;
$mainWhite: #f7f7f7;
$darkGrey: #cfcfcf;
$primaryRed: #E50000;


$mainBorderRadius: 5px;
$mainTransition: all 0.3s linear;
$secondaryTransition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
$mainSpacing: 3px;
$secondarySpacing: 5px;

