.enquiry {
    margin: 10px auto;
    // background: rgba(0, 0, 0, 0.7);
    color: $mainBlack;
    padding: 60px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
    min-width: 50%;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: $mainBorderRadius;
    // display: flex;
    // flex-wrap: inherit;
 
    &__container-div {
        display: flex;
    }
    
    &__form {
        margin: 0 auto;
    }

    &__field {
        border: none;
        max-width: 700px;
        margin: 0 auto;
    }
    &__label {
        display: block;
        text-align: left;
        margin: 0 auto 0 10px;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    &__input {
        height:35px;
        width: 270px;
        outline: none;
        font-size: 17px;
        padding-left: 20px;
        border: 1px solid lightgrey;
        border-radius: $mainBorderRadius;
        transition: all 0.3s ease;
        margin: $secondarySpacing;

        // &:focus {
        //     box-shadow: 0px 0px 5px 1px #0083FF;
        // }
    }

    &__div {
        margin: 10px auto 10px auto;
        display: grid;
    }
    &__div2 {
        padding: 10px 20px 0 50px;
    }
    
    &__header {
    text-align: center;
    font-size:2rem;
    padding:$mainSpacing;
    text-transform: uppercase;
    margin: $secondarySpacing;
    }

}
.textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    resize: none;
}

// #People {
//     width: 80px;
//     margin: 0px 190px 0 0px;
// }

// removes arrow buttons on number inputs
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (max-width: 1000px) {
   
    .enquiry {
        &__input {
            width: 230px;
        }

        &__div2 {
            padding: 0;
            }
    }
    .textarea {
        width: 500px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 829px) {
    .enquiry {
        &__container-div {
            display: block;
        }
        &__div {
            max-width:240px;
            }
     }
     .textarea {
        width: 230px;
    }
}

@media screen and (max-width: 660px) {
    .enquiry {
        padding: 0;

      
        &__div2 {
        padding: 0;
        }
    }
}


// popup Modal settings

.modal {
    overflow: auto;
    display: none;
    position: fixed; 
    padding-top: 80px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 2rem;  
    font-weight: bold;
  }
  .close-btn:hover {
      cursor: pointer;
    color: $primaryRed;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }