.enquiry {
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    color: $mainWhite;
    padding: 2rem 5.5rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
    border-radius:$mainBorderRadius;
    min-width: 350px;

    &__field {
        border: none;
    }
    &__label {
        display: block;
        text-align: left;
        margin: 0 auto 0 10px;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    &__input {
        height: 100%;
        width: 100%;
        max-width:300px;
        max-height: 100px;
        min-width: 300px;
        outline: none;
        font-size: 17px;
        padding-left: 20px;
        border: 1px solid lightgrey;
        border-radius: $mainBorderRadius;
        transition: all 0.3s ease;
        margin: $secondarySpacing;

        // &:focus {
        //     box-shadow: 0px 0px 5px 1px #0083FF;
        // }
    }
    &__div {
        margin: 10px auto 10px auto;
    }
}

// removes arrow buttons on number inputs
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}