.admin-item {
    width: 450px;
    padding: 2rem 1rem;

    &__title {
        margin:5px $secondarySpacing 5px 0;
        font-size: 2rem;
    }

    &__container {
        display:flex;
        border-bottom:3px solid $primaryColor;

    }
    &__text-container {
    }
    &__text {
        padding: $secondarySpacing;
        font-weight: 500;
    }
    &__div {
        display: flex;
    }
    &__overflow {
        overflow: auto;
        max-height: 240px; 
    }
}

.comment {
    margin: 10px auto;
}