.btn {
       
    &__delete {
        margin: 0 auto 0 auto;
        display: inline-block;
        text-decoration: none;
        letter-spacing: $mainSpacing;
        color: $mainWhite;
        background: $primaryRed;
        padding: 1rem 7.5rem;
        border: 3px solid $primaryRed;
        transition:$mainTransition;
        border-radius:$mainBorderRadius;
        text-transform: uppercase;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
            background:linear-gradient(to bottom, #d20101 5%, #ef3333 100%);
            background-color:#d20101;
        }
        &:active {
            position:relative;
	        top:1px;
        }
    }
    &__submit {
        margin: 15px auto 15px  auto;
        // box-shadow: 0px 1px 0px 0px #f0f7fa;
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        background-color:#33bdef;
        border-radius:6px;
        border:1px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px -1px 0px #5b6178;
        padding: 10px 70px;
        &:hover {
            background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
            background-color:#019ad2;
        }
        &:active {
            position:relative;
	        top:1px;
        }
    }
    &__btn {
        margin: 0 auto 0 auto;
        display: inline-block;
        text-decoration: none;
        letter-spacing: $mainSpacing;
        color: $mainWhite;
        background: $primaryColor;
        padding: 1rem 7.5rem;
        border: 3px solid $primaryColor;
        transition:$mainTransition;
        border-radius:$mainBorderRadius;
        text-transform: uppercase;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
            background:linear-gradient(to bottom, #ffa600 5%, #fcb737 100%);
            background-color:#ffa600;
            color:$mainBlack;
        }
        &:active {
            position:relative;
	        top:1px;
        }
  }
}

