.btn {
       
    &__delete {
        margin: 0 auto 0 auto;
        display: inline-block;
        text-decoration: none;
        letter-spacing: $mainSpacing;
        color: $mainWhite;
        background: $primaryRed;
        padding: 1rem 7.5rem;
        border: 3px solid $primaryRed;
        transition:$mainTransition;
        border-radius:$mainBorderRadius;
        text-transform: uppercase;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
            background:linear-gradient(to bottom, #d20101 5%, #ef3333 100%);
            background-color:#d20101;
        }
        &:active {
            position:relative;
	        top:1px;
        }
    }
    &__submit {
        margin: 15px auto 15px  auto;
        // box-shadow: 0px 1px 0px 0px #f0f7fa;
        background:linear-gradient(to bottom, #00ac56 5%, #006935 100%);

        background-color:#008643;
        border-radius:6px;
        border:1px solid #006935;;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:1.5rem;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px -1px 0px #5b6178;
        padding: 10px 70px;
        &:hover {
            background:linear-gradient(to bottom, #006935 5%, #00ac56 100%);
            background-color:#008643;
        }
        &:active {
            position:relative;
	        top:1px;
        }
    }
    &__btn {
        margin: 0 auto 0 auto;
        display: inline-block;
        text-decoration: none;
        letter-spacing: $mainSpacing;
        color: $mainWhite;
        background: $primaryColor;
        padding: 1rem 7.5rem;
        border: 3px solid $primaryColor;
        transition:$mainTransition;
        border-radius:$mainBorderRadius;
        text-transform: uppercase;
        cursor: pointer; 
        font-weight: bold;
        text-shadow:0px -1px 0px #15274d;

        &:hover {
            background:linear-gradient(to bottom, #005491 5%, #008cff 100%);
            background-color:$primaryColor;
            text-shadow:0px 1px 0px #15274d;
            transition:$mainTransition;
        }
        &:active {
            position:relative;
	        top:1px;
        }
  }
  &__backTop {
    border: none;
    margin: 0 auto 10px auto;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    color: $mainWhite;
    background: #33383b;
    padding: 1rem 1.5rem;
    border: 3px solid #33383b;
    transition: all 0.3s linear;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        border: 3px solid $primaryColor;
        color: $primaryColor;
    }
  }
}

