.defaultHero, .HotelsHero, .AddHero, .AdminHero, .ContactHero  {
    min-height: calc(100vh - 75px);
    background: url("../../images/michael-fousert-unsplash.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HotelsHero {
    background-image: url("../../images/agent-j-unsplash.jpg");
    min-height: 50vh;
  }
  .AddHero {
    background-image: url("../../images/florencia-viadana--unsplash.jpg");
  }
  .AdminHero {
    background-image: url("../../images/ignacio-ceballos-unsplash.jpg");
    min-height: 45vh;

  }

  .ContactHero {
    background-image: url("../../images/lachlan-gowen-unsplash.jpg");

  }