.defaultHero, .HotelsHero, .AddHero, .AdminHero, .ContactHero  {
    min-height: calc(100vh - 75px);
    background: url("../../images/fabio-fistarol-qai_unsplash.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HotelsHero {
    background-image: url("../../images/sebastian-pena-lambarri-unsplash.jpg");
    min-height: 50vh;
  }
  .AddHero {
    background-image: url("../../images/martha-dominguez-de-gouveia-unsplash.jpg");
  }
  .AdminHero {
    background-image: url("../../images/sara-dubler-Koei_unsplash.jpg");
    min-height: 45vh;

  }

  .ContactHero {
    background-image: url("../../images/sara-dubler-Koei_unsplash.jpg");

  }