.itemList{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
        &__component {
            margin: 10px auto;
            padding: 20px;
            // background: blue;
                 //placeholder
            max-width: 33%;
            min-width: 30%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: $mainBorderRadius;
            display: flex;
            flex-wrap: inherit;
            
        }
}


@media screen and (max-width: 1000px) {
    .itemList{
        display:flex;
        // justify-content: space-between;
        flex-wrap: wrap;
            &__component {
                margin: 10px auto;
                padding: 20px;
                max-width: 50%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                border-radius: $mainBorderRadius;
                display: flex;
                flex-wrap: inherit;
            
                
            }
    }
}
@media screen and (max-width: 666px) {
    .itemList{
        display:flex;
        // justify-content: space-between;
        flex-wrap: wrap;
            &__component {
                margin: 10px auto;
                padding: 20px;
                max-width: 100%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                border-radius: $mainBorderRadius;
                display: flex;
                flex-wrap: inherit;
         
                
            }
    }
}

.item {
    // background:skyblue;
            //placeholder
             height:90%;
             width: 100%;

    padding: 2rem 1rem;
    text-transform: capitalize;
    border-radius: $mainBorderRadius;
    
   
    transition: 0.3s;
        &__title {
            font-size: 2.0rem;
            margin: 0 auto 20px auto;
        }
        &__img {
            width: 100%;
            display: block;
            transition: $mainTransition;
            display: block;
            margin: 0 0 1rem;
            border: 4px solid $primaryColor;
            box-sizing: border-box;
            position: relative;
            object-fit: cover;
            max-height: 260px;
            border-radius: $mainBorderRadius;
        }
        &__text-container {
            padding: 10px 0 10px 0;
        }
        &__text {
            text-transform: none;
            padding: $mainSpacing;
        }
}

// ---------- END OF ITEM -------------

// ---------- START OF ITEMDETAILS -------------
.itemDetailsList {
    display:flex;
    justify-content: flex-start;
        &__component {
            margin: 10px auto;
            padding: 20px;
            max-width: 40%;
            // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: $mainBorderRadius;
            display: flex;
            flex-wrap: inherit;
            min-width: 550px;
        }
}

.itemDetails {
    // background:skyblue;
            //placeholder
             height:90%;
             width: 100%;

    padding: 2rem 1rem;
    text-transform: capitalize;
    border-radius: $mainBorderRadius;
    
   
    transition: 0.3s;
        &__title {
            font-size: 2.0rem;
        }
        &__img {
            width: 100%;
            display: block;
            transition: $mainTransition;
            display: block;
            margin: 0 0 1rem;
            border: 4px solid $primaryColor;
            box-sizing: border-box;
            position: relative;
            object-fit: cover;
            max-height: 260px;
            border-radius: $mainBorderRadius;
        }
        &__text-container {
            padding: 10px 0 10px 0;
        }
        &__text {
            text-transform: none;
            padding: $mainSpacing;
        }
}
// ---------- END OF ITEMDETAILS -------------


@media screen and (max-width: 1000px) {
    .itemDetailsList {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 666px) { 


}
@media screen and (max-width: 555px) { 
    .itemDetailsList {
        &__component {
          
            min-width: 350px;
        }
}
}

