.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: $primaryBgColor;
    z-index: 1;
    &__logo {
        width: 3.5em;
    }
    &__header{
        display: flex;
        justify-content: space-between;
      }
      &__btn{
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
      &__icon{
        font-size: 1.5rem;
        color: $primaryColor;
      }
      &__link{
        height: 0;
        overflow: hidden;
        transition: $mainTransition;
        list-style-type: none;
      }
      &__link a {
        display: block;
        text-decoration: none;
        padding: 1rem 0;
        color: $mainBlack;
        transition: $mainTransition;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: $mainSpacing;
      }
      &__link a:hover {
          color: $primaryColor;
      }
}

.show-nav {
    height: 160px;
}

@media screen and (min-width: 768px) {
    .navbar{
        &__btn {
            display: none;
          }
          &__center {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
          }
          &__link {
            height: auto;
            display: flex;
            margin-left: 4rem;
            align-items: center;
          }
          &__link a {
            margin: 0 1rem;
            padding: 0.5rem 0;
          }
    }
   
  }