.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: $primaryBgColor;
    z-index: 1;
    &__logo {
        width: 3.5em;
    }
    &__title {
      display: flex;
      max-width: 200px;
      align-items: center;
    }
    &__header{
        display: flex;
        justify-content: space-between;
      }
      &__btn{
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
      &__icon{
        font-size: 1.5rem;
        color: $primaryColor;
      }
      &__link{
        height: 0;
        // overflow: hidden;
        transition: $mainTransition;
        list-style-type: none;
      }
      &__link a {
        display: block;
        text-decoration: none;
        padding: 1rem 0;
        color: $mainBlack;
        transition: $mainTransition;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: $mainSpacing;
      }
      &__link a:hover {
          color: $primaryColor;
      }
      &__logout {
        margin: 0 1rem;       
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: block;
        text-decoration: none;
        padding: 1rem 0;
        color: $mainBlack;
        transition: $mainTransition;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: $mainSpacing;
        &:hover {
          color: $primaryRed;
        }
      }
      &__span {
      }
      &__span--alt {
        margin-top: 1rem;
      }
}
.nav-align {
margin: 1rem auto 0 auto;
}
.show-nav {
    // max-height: 250px;
    height:auto;
    // need to find a fix to make it smooth again 
    // but for now leave it on auto for now

}


@media screen and (min-width: 829px) {
    .navbar{
      &__title {
        max-width: 100px;
      }
        &__btn {
            display: none;
          }
          &__center {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
          }
          &__link {
            height: auto;
            display: flex;
            margin-left: 4rem;
            align-items: center;
          }
          &__link a {
            margin: 0 1rem;
          }
          &__logout {
            margin: 0 1rem;
            color: inherit;
            font: inherit;
            cursor: pointer;
            font-weight: 600;
            min-width: 100px;
          }
          &__logout:hover {
              color: $primaryRed;
          }
    }
    .nav-align {
        }
        .ul-flex {
            display: flex;
            height: 50px;
            list-style: none;
        }

        .mobile {
          display: none;
        }
  }

@media screen and (max-width: 828px) {
  .navbar{
    &__link{
      overflow: hidden;
    }
    &__span {
      display: none;
     
    }
    &__span--alt {
      display: none;

    }
  }
  .mobile {
    display: block;
  }

}


