.search-container {
    position: relative;
    display: flex;
}
.searchBar {
    width: 70%;
    max-height: 100px;
    min-width: 300px;
    outline: none;
    font-size: 17px;
    padding:15px;
    border: 1px solid lightgrey;
    border-radius: $mainBorderRadius;
    transition: all 0.3s ease;
    margin: $secondarySpacing;
    margin: 15px auto 15px auto;
    cursor: pointer; 



    &__div {
        width: 70%;
        max-height: 100px;
        outline: none;
        font-size: 17px;
        border: 1px solid lightgrey;
        overflow: auto;
        transform: translateY(-20px);
        transition: $secondaryTransition;
        z-index: 1;
        position: absolute;
        top: 100%;
        left:15%;
        background:$primaryBgColor;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
    }
    &__item {
        outline: none;
        font-size: 17px;
        border-bottom: 1px solid lightgrey;
        border-radius: $mainBorderRadius;
        transition: all 0.3s ease;
        margin: $secondarySpacing;
        cursor: pointer; 

    }
}